.avatar {
  display: flex;
  flex-direction: row;
  //    justify-content: center;
  align-items: center;
  .avatar-name {
    font-family: Roboto-Bold, Roboto;
    font-weight: bold;
    color: #444444;
    line-height: 16px;
    letter-spacing: 1px;
    -webkit-background-clip: text;
  }
}
